/* 메인 페이지 */

html {
  font-size: 62.5%;
}

.header {
  padding-bottom: 1rem;
  border-bottom: 0.5rem solid  #D8E9D7;
  margin-bottom: 2.7rem;
}

.mainicon {
  width: 90%;
  height: auto;
  display: block;
  margin: 0px auto;
  border-bottom: 3.5rem solid white;
}

.findingplace {
  font-size: 1.6rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.container {
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-around;
  border-bottom: 1rem solid white;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 1.6rem;
  text-align: center;
}

.item {
  width: 72%;
  height: auto;
  background-color:  #D8E9D7;
  border-radius: 25px;
  border: 2px solid  #D8E9D7;
}

.item:hover {
  background-color:  #C0DBBD;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 6px inset;
}

.howto {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  text-align: center;
  background-color:  #D8E9D7;
  z-index:99;
  bottom:0px;
  left:0px;
  right:0px;
  position:absoulte !important;
  position:fixed;
  padding: 0.4rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.howto:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 6px inset;
}

/* 모달창 */

.modal {
  /* 모달창 그 자체 */
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.lang {
  font-size: 1.6rem;
  float: right;
  margin-right: 1rem;
  border: 0px;
  background-color: transparent;
}

.langoption {
  font-size: 1.6rem;
}

.modal button {
  /* 모달창 x버튼 */
  outline: none;
  cursor: pointer;
  border: 0;
}

.modal > section {
  /* 모달창 흰배경 */
  width: 90%;
  max-width: 450px;
  margin:0 auto;
  border-radius: .3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show .3s;
  overflow: hidden;
}

.modal > section > header {
  /* 팝업창 헤더 */
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-size: 1.5rem;
  font-weight: 700;
}

.modal > section > main {
  /* 팝업창 내용 */
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}

.modal > section > footer {
  /* 팝업창 아랫단 */
  padding: 12px 16px;
  text-align: right;
}

.modal > section > footer button {
  /* close 버튼 */
  padding: 6px 12px;
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
  font-size: 13px;
}

.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show .3s;
}
@keyframes modal-show {
  from {
      opacity: 0;
      margin-top: -50px;
  }
  to {
      opacity: 1;
      margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* 음식점 위치 검색 페이지 */

.header2 {
  padding-bottom: 1rem;
  border-bottom: 0.5rem solid  #D8E9D7;
  margin-bottom: 2rem;
  text-align: center;
}

.backicon {
  width: 3rem;
  height: auto;
  margin-left: 1rem;
  position: fixed;
  z-index: 99;
}

.normalfont {
  text-align: center;
  font-size: 1.6rem;
}

.btn_class {
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 3rem;
}

.btn_text {
  height: auto;
  line-height: normal;
  padding: .7em .8em;
  border-color:  #C0DBBD;
  border-radius: 20px;
  border-width: medium;
  margin-right: 1rem;
    /* 클릭시 누르는 테두리 없애기 */
  outline: 0;
 }

.btn_submit {
  background-color:  #C0DBBD;
  color: white;
  width: 7rem;
  height: 4rem;
  border: 0px;
  border-radius: 20px;
  cursor:pointer;
  outline: 0;
 }

.containerList{
  width: 90%;
  margin: 0px auto;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
}

.containerList2{
  width: 90%;
  margin: 0px auto;
  display: none;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
}

.itemList {
  width: 7rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-align: center;
  background-color: transparent;
  border-radius: 25px;
}

/* 식당 리스트 페이지 */

.restaurant_promotion {
  background-color:#f1f1f1;
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;
}

.promotion_text{
  float:right;
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
}

.name_restaurant{
 font-size: 3rem;
 margin-top: 1rem;
 margin-right: 1rem;
 margin-bottom: 8rem;
}

.scoreposition{
  display: inline-block;
  font-size: 1.6rem;
}

.scorestar {
  display: inline-block;
  height: 3.5rem;
  width: auto;
}

.score {
  display: inline-block;
  font-size: 2.5rem;
  margin-right: 1rem;
}

.btn_class_list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 3rem;
}

.btn_text_list {
  height: auto;
  line-height: normal;
  padding: .7em .8em;
  border-color:  #C0DBBD;
  border-radius: 20px;
  border-width: medium;
  margin-right: 1rem;
  /* 클릭시 누르는 테두리 없애기 */
  outline: 0;
 }

.btn_submit_list {
  background-color:  #C0DBBD;
  color: white;
  width: 7rem;
  height: 4rem;
  border: 0px;
  border-radius: 20px;
  cursor:pointer;
  outline: 0;
 }

.icon_filter {
  height: 4rem;
}

.button_filter{
  background-color: transparent;
  border: 0px;
}

.rst_list_cell {
  padding: 0.5rem 1rem;
  border: 2px solid #C0DBBD;
  border-radius: 5px;
  margin: 1rem 2rem;
}

.rst_list_name {
  font-size: 2rem;
  border: 0px;
  background-color: transparent;
}

.rst_list_position {
  font-size: 1.6rem;
}

/* 식당 모달창 */

.icon_reset {
  position: absolute;
  width: 2.5rem;
  height: auto;
}

.header_modal_filter{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
}

.footer_modal_filter{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
}

.itemList2 {
  width: 7rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-align: center;
  background-color: transparent;
  border: 0px;
}

.foodtype {
  text-align: center;
  font-size: 1.6rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
}

.icon_halal {
  width: 10rem;
  height: auto;
  background-color: transparent;
}

/* 개별 식당 페이지 */

.rst_result_prom {
  background-color:#f1f1f1;
  width: 100%;
  height: 20rem;
}

.rst_result_cell {
  border-top: 0.3rem solid #f1f1f1;
  border-bottom: 0.3rem solid #f1f1f1;
}

.rst_result_name {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.rst_result_position {
  padding-left: 2rem;
  font-size: 1.6rem;
  padding-bottom: 2rem;
}

/* .myMap{
  width: 100%;
  margin: 0px auto;
  height: 38rem;
  border-bottom: 30px solid white;
} */

/* 관광지 위치 검색 페이지 */

.header2 {
  padding-bottom: 1rem;
  border-bottom: 0.5rem solid  #D8E9D7;
  margin-bottom: 2rem;
  text-align: center;
}

.backicon {
  width: 3rem;
  height: auto;
  margin-left: 1rem;
  position: fixed;
  z-index: 99;
}

.normalfont {
  text-align: center;
  font-size: 1.6rem;
}

.btn_class_att {
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 3rem;
}

.btn_text_att {
  height: auto;
  line-height: normal;
  padding: .7em .8em;
  border-color:  #C0DBBD;
  border-radius: 20px;
  border-width: medium;
  margin-right: 1rem;
    /* 클릭시 누르는 테두리 없애기 */
  outline: 0;
 }

.btn_submit_att {
  background-color:  #C0DBBD;
  color: white;
  width: 7rem;
  height: 4rem;
  border: 0px;
  border-radius: 20px;
  cursor:pointer;
  outline: 0;
 }

.container_att{
  width: 90%;
  margin: 0px auto;
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
}

.container_att2{
  width: 90%;
  margin: 0px auto;
  display: none;
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
}

.item_att {
  width: 7rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-align: center;
  background-color: transparent;
  border-radius: 25px;
}

.item_att2 {
  width: 7rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-align: center;
  background-color: transparent;
  border: 0px;
}

/* 관광지 리스트 페이지 */

.att_prom {
  background-color:#f1f1f1;
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;
}

.prom_text_att{
  float:right;
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
}

.name_att{
 font-size: 3rem;
 margin-top: 1rem;
 margin-right: 1rem;
 margin-bottom: 8rem;
}

.scorepos_att{
  display: inline-block;
  font-size: 1.6rem;
}

.score_att {
  display: inline-block;
  font-size: 2.5rem;
  margin-right: 1rem;
}

.btn_class_att {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 3rem;
}

.btn_text_att {
  height: auto;
  line-height: normal;
  padding: .7em .8em;
  border-color:  #C0DBBD;
  border-radius: 20px;
  border-width: medium;
  margin-right: 1rem;
  /* 클릭시 누르는 테두리 없애기 */
  outline: 0;
 }

.btn_submit_att {
  background-color:  #C0DBBD;
  color: white;
  width: 7rem;
  height: 4rem;
  border: 0px;
  border-radius: 20px;
  cursor:pointer;
  outline: 0;
 }

.icon_filter {
  height: 4rem;
}

/* 관광지 리스트 axios */

.att_list_cell {
  padding: 0.5rem 1rem;
  border: 2px solid #C0DBBD;
  border-radius: 5px;
  margin: 1rem 2rem;
}

.att_list_name {
  font-size: 2rem;
  border: 0px;
  background-color: transparent;
}

.att_list_position {
  font-size: 1.6rem;
}

/* 관광지 모달창 */

.icon_reset {
  position: absolute;
  width: 2.5rem;
  height: auto;
}

.header_modal_att{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
}

.footer_modal_att{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
}

.atttype {
  text-align: center;
  font-size: 1.6rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
}

.icon_att {
  width: 10rem;
  height: auto;
  border-radius: 100px;
  border: 2px solid #D8E9D7;
  background-color: #D8E9D7;
}

/* 개별 관광지 페이지 */

.att_result_prom {
  background-color:#f1f1f1;
  width: 100%;
  height: 20rem;
}

.att_result_cell {
  border-top: 0.3rem solid #f1f1f1;
  border-bottom: 0.3rem solid #f1f1f1;
}

.att_result_name {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.att_result_position {
  padding-left: 2rem;
  font-size: 1.6rem;
  padding-bottom: 2rem;
}

/* .myMapAtt {
  width: 100%;
  margin: 0px auto;
  height: 38rem;
  border-bottom: 30px solid white;
} */


/* 모스크 리스트 페이지 */

.mosque_prom {
  background-color:#f1f1f1;
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;
}

.prom_text_mosque{
  float:right;
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
}

.name_mosque{
 font-size: 3rem;
 margin-top: 1rem;
 margin-right: 1rem;
 margin-bottom: 9rem;
}

.scorepos_mosque{
  font-size: 1.6rem;
}

.btn_class_mosque {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 3rem;
}

.btn_text_mosque {
  height: auto;
  line-height: normal;
  padding: .7em .8em;
  border-color:  #C0DBBD;
  border-radius: 20px;
  border-width: medium;
  margin-right: 1rem;
  /* 클릭시 누르는 테두리 없애기 */
  outline: 0;
 }

.btn_submit_mosque {
  background-color:  #C0DBBD;
  color: white;
  width: 7rem;
  height: 4rem;
  border: 0px;
  border-radius: 20px;
  cursor:pointer;
  outline: 0;
 }

/* 모스크 리스트 axios */

.mosque_list_cell {
  padding: 0.5rem 1rem;
  border: 2px solid #C0DBBD;
  border-radius: 5px;
  margin: 1rem 2rem;
}

.mosque_list_name {
  font-size: 2rem;
  border: 0px;
  background-color: transparent;
}

.mosque_list_pos {
  font-size: 1.6rem;
}

/* 모스크 모달창 */

.header_modal_mosque{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
}

.footer_modal_mosque{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
}

.placetype {
  text-align: center;
  font-size: 1.6rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
}

.icon_mosque {
  width: 10rem;
  height: auto;
  border-radius: 100px;
  border: 2px solid #D8E9D7;
  background-color: #D8E9D7;
}

/* 개별 모스크 페이지 */

.mosque_result_prom {
  background-color:#f1f1f1;
  width: 100%;
  height: 20rem;
}

.mosque_result_cell {
  border-top: 0.3rem solid #f1f1f1;
  border-bottom: 0.3rem solid #f1f1f1;
}

.mosque_result_name {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.mosque_result_position {
  padding-left: 2rem;
  font-size: 1.6rem;
  padding-bottom: 2rem;
}

/* .myMapMosque {
  width: 100%;
  margin: 0px auto;
  height: 38rem;
  border-bottom: 30px solid white;
} */

